/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
    
    
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
body::-webkit-scrollbar {
    width: 0 !important;
  }
.wrapper{
    height: 100%;
}
body{
    overflow-x: hidden;
}
.russo{
    font-family: "Russo One", sans-serif;
    
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.calculator{
    display: block;
}
.calculator__title{
    text-align: center;
    margin: 20px 0px;
}
.title{
    font-size: 30px;
    text-align: center;
}
.subtitle{
    font-size: 23px;
}
.input-short{
    font-size: 20px;
    text-align: center;
}
.range-input{
	width: 100%;
    margin-bottom: 60px;
    margin-top: 10px;
}

.floors {
	display: flex;
	flex-direction: start;
	align-items: center;
}
.floors__radio-real {
	opacity: 0;
	appearance: none;
	height: 0;
	width: 0;
	margin: 0;
}

.floors__radio-fake {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #e2e2e2;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
	cursor: pointer;
}

.floors__radio-real:checked + .floors__radio-fake {
	background-color:aquamarine;
}
.calculator-pipe{
    display: block;
}
.calculator__title-pipe{
    text-align: center;
    margin: 20px 0px;
}
.title-pipe{
    font-size: 30px;
    text-align: center;
}
.subtitle-pipe{
    font-size: 23px;
}
.input-short-pipe{
    font-size: 20px;
    text-align: center;
}
.range-input-pipe{
	width: 100%;
    margin-bottom: 60px;
    margin-top: 10px;
}

.floors-pipe {
	display: flex;
	flex-direction: start;
	align-items: center;
}
.floors__radio-real-pipe {
	opacity: 0;
	appearance: none;
	height: 0;
	width: 0;
	margin: 0;
}

.floors__radio-fake-pipe {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #e2e2e2;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
	cursor: pointer;
}

.floors__radio-real-pipe:checked + .floors__radio-fake-pipe {
	background-color:aquamarine;
}
.main{
    height: 100%;
    background: url("https://i.postimg.cc/L43Dj1dz/1.png") center center no-repeat;
    background-size:cover;
    margin-bottom: 123px;
    
}

.main__header{
    height: 100px;
}
.menu{
    height: 100%;
    justify-content: center;
}
.menu__logo{
    margin-right: 30px;
}
.menu__item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 0.1;
    font-size: 24px;
    color: white;
}
.menu__container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blue{
    color: #011936;
}
.red{
    color: #B3001B;
}
.main__title{
    color: white;
    font-size: 35px;
}

.build__block{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-self: flex-end;
}
.container-title{
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 80%;
    flex-grow: 1;
    flex-direction: row-reverse;
}
.title-flex{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 23px;
    
}
.build__text{
    margin: 0 25px;
}
.reconst{
    padding-right: 130px;
}
.build{
    padding-right: 30px;
}
.center-text{
    color: white;
    font-size: 30px;
    max-width: 980px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.pipe__text{
    margin: 0 25px;
    justify-self: flex-start;
}
.title-flex-down{
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    margin-right: auto;
}
.pipe__block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height: 100%;
    justify-content: flex-end;
    margin-right: auto;
}
.product{
    padding-left: 130px;
}
.repair{
    padding-left: 30px;
}

.about{
    height: auto;
}
.about__container{
    width: 80%;
    margin: 0 auto;
}
.about__subtitle{
    display: flex;
    align-items: center;
    margin-bottom: 27px;
    

}
.about__text{
    margin: 0 20px;
    font-size: 24px;
    
}
.about__phrase{
    font-size: 55px;
    max-width: 1570px;
    margin-bottom: 60px;
}
.about__paragraph-first{
    max-width: 1238px;
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 120px;
}
.about__paragraph{
    max-width: 1238px;
    font-size: 24px;
    margin-bottom: 246px;
}
.light-blue{
    color: #1C7293;
}
.about__block{
    display: flex;
    justify-content: space-between;
    max-width: 1660px;
}
.about__img{
    height: 350px;
    margin-top: 60px;
}
.about__achives{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    
}
.achive__title, .achive__text{
    text-align: center;
}
.achive__title{
    color: #1C7293;
    font-size: 30px;
}
.achive__title{
    font-size: 24px;
}
.achive__text{
    max-width: 170px;
}
.achive__card{
    display: flex;
    flex-direction: column;
    align-items:normal;
    margin-bottom: 80px;
}
.achive{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}
.achive__img{
    height: 100px;
}
.achive__container{
    max-width: 1300px;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
}
.big-margin{
    margin-bottom: 240px;
}
.building__title-block{
    height: 372px;
    background-color: #011936;
    margin-bottom: 89px;
}
.subtitle-wrapper{
    width: 85%;
    margin: 0 auto;

}
.building__title{
    font-size: 64px;
    color: white;
    margin-bottom: 60px;
}
.subtitle-build{
    color: white;
    margin: 0px 10px;
    
}
.subtitle__block{
    display: flex;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 27px;
}
.services__title{
    font-size: 55px;
}
.services, .services-pipe{
    max-width: 85%;
    margin: 0 auto;
    height: 1000px;
}
.services__slider-name{
    display: flex;
    overflow-x: scroll;
    margin-bottom: 79px;
    overflow-x:auto;
}
.services__slider-name-pipe{
    display: flex;
    overflow-x: scroll;
    margin-bottom: 79px;
    overflow-x:auto;
}
.services__slider-name::-webkit-scrollbar{
    display: none;
}
.services__slider-name-pipe::-webkit-scrollbar{
    display: none;
}
.services__name{
    font-size: 24px;
    white-space: nowrap;
    
}
.services__slider-name .services__name{
    width: 80%;
  padding: 10px;
    cursor: pointer;
}
.services__name-pipe{
    font-size: 24px;
    white-space: nowrap;
    
}
.services__slider-name-pipe .services__name-pipe{
    width: 80%;
  padding: 10px;
    cursor: pointer;
}
.service__block{
    display: flex;
    min-width: 1720px;
    min-height: 540px;
    border: 14px solid #011936;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
}
.service__block__title{
    font-size: 40px;
    color: #011936;
}
.service__block__p{
    font-size: 24px;
    color: #011936;
    max-width: 1176px;
    margin-top: 46px;
    margin-bottom: 182px;
    margin-right: 25px;
}
.service__block__text{
}
.service__block__btn{
    background-color: #011936;
    color: white;
    width: 350px;
    height: 88px;
    font-size: 24px;
}
.service__container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex: 0 0 100%;
    max-width: 1720px;
    margin: 0 auto;
    
    
    
}
.service__container::-webkit-scrollbar{
    display: none;
}
.service__block{
    margin-right: 20px;
}
.project__block{
    height: 720px;
    background-color: #9EB3C2;
    padding-top: 89px;
    padding-left: 90px;
}
.project__block-pipe{
    height: 720px;
    background-color: #9EB3C2;
    padding-top: 89px;
    padding-left: 90px;
}
.project__text{
    font-size: 24px;
    color: #011936;
    margin: 0 20px;
}
.project__text-pipe{
    font-size: 24px;
    color: #B3001B;
    margin: 0 20px;
}
.margin-up{
    margin-top: 27px;
    font-size: 70px;
    margin-bottom: 60px;
}
.project-line{
    width: 90%;
    margin: 0 auto;
}
.slider {
    width: 1980px;
    display: flex;
    overflow-x: scroll;
    margin: 0 auto;
  }
  .slider::-webkit-scrollbar {
    display: none;
  }
  .slider .images {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
  height: 90%;
}
.slider .images .img {
  width: 100%;
}
.slider-pipe {
    width: 1980px;
    display: flex;
    overflow-x: scroll;
    margin: 0 auto;
  }
  .slider-pipe::-webkit-scrollbar {
    display: none;
  }
  .slider-pipe .images-pipe {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
  height: 90%;
}
.slider-pipe .images-pipe .img {
  width: 100%;
}
.pipes__title-block{
    height: 372px;
    background-color: #B3001B;
    margin-bottom: 89px;
}
.services__title-2{
    color: #B3001B;
}
.services-pipe{
    max-width: 85%;
    margin: 0 auto;
    height: 1000px;
}
.service__container-pipe{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex: 0 0 100%;
    max-width: 1720px;
    margin: 0 auto;
}
.service__block-pipe{
    display: flex;
    min-width: 1720px;
    min-height: 540px;
    border: 14px solid #B3001B;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.service__block__text-pipe{

}
.service__block__pipe__btn{
    background-color: #B3001B;
    color: white;
    width: 350px;
    height: 88px;
    font-size: 24px;
}
.service__block__title-pipe{
    font-size: 40px;
    color: #B3001B;
}
.service__container-pipe::-webkit-scrollbar{
    display: none;
}
form { 
    display: flex; 
    justify-content: space-around; 
    margin-bottom: 255px; 
} 
form input { 
    height: 88px; 
    width: 354px; 
    background: #9EB3C2; 
    font-size: 24px; 
    padding: 33px; 
} 
form button { 
    height: 88px; 
    width: 354px; 
    padding: 33px; 
    text-align: left; 
    color: #9EB3C2; 
} 
.building__container button{ 
    background: #011936; 
}